*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target
/*/target
/logs
/.classpath
/.mvn/wrapper/maven-wrapper.properties
/.project
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.jdt.core.prefs
/.settings/org.eclipse.m2e.core.prefs
/.settings/org.eclipse.wst.common.project.facet.core.xml
/.settings/org.springframework.ide.eclipse.boot.properties.editor.prefs
/.springBeans
/jackyun-oms-dev.log
/.settings
/.vscode
/.mvn
/jackyun-oms-dev.log.*
/.DS_Store
/*/src/main/resources/application.properties
/*/.classpath
/*/.project
/*/.settings
/*/*.log
/*/*.log.*
/*/*.DS_Store
/jackyun-oms.log
/jackyun-oms.log.*
/updatefile.sql
/.factorypath
/bin/
/.idea
/*.iml
/*.eml
/jackyun-oms-abp.log
/*/*.iml
/*/*.eml
/*/*.idea
/*/bin
*.idea
